{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>B2B Export</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'category_list'%}">B2B Export</a>
    </div>

    <ul class="nav navbar-nav">
    	<li><a href="{% url 'catalog'%}">Catalog</a></li>
        <li><a href="{% url 'contacts'%}">Contacts</a></li>
    </ul>
</nav>

<div class="container">
	<div class="row">
	  <div class="col-md-2">
	  	<ul class="list-group">
	  	{% for category in categories %}
		  <li class="list-group-item"><a href="{% url 'goods_list' category_name=category.name %}">{{category.name}}</a></li>
		{% endfor %}
		</ul>
	  </div>
	  <div class="col-md-10">
	  	<h1>Our goods: </h1>
	  	{% for good in goods %}
	  	<div class="row">

	  		<div class="col-md-4">
				<div id="{{good.0.pk}}" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#{{good.0.pk}}" data-slide-to="0" class="active"></li>
				    <li data-target="#{{good.0.pk}}" data-slide-to="1"></li>
				    <li data-target="#{{good.0.pk}}" data-slide-to="2"></li>
				  </ol>
					
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				  	{% for image in good.1 %}
				    <div class="item">
				      <img src="{{MEDIA_URL}}{{image.image.url}} " style="height:200px" alt="...">
				    </div>
					{% endfor %}
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#{{good.0.pk}}" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#{{good.0.pk}}" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
		  	</div>
		  	<div class="col-md-8">
		  		<h1>{{good.0.name}}</h1>
		  		<div class="caption">
		  			<p>{{good.0.description}}</p>
		  		</div>
		  		 <table class="table">
                    <tbody>
                    <tr>
                        <td>Supplier</td>
                        <td>{{good.0.supplier}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{good.0.price}} </td>
                    </tr>
                    <tr>
                        <td>Currency</td>
                        <td>{{good.0.currency}} </td>
                    </tr>
                    </tbody>
                </table>

	  		</div>
	  	</div>
	  	{% endfor %}
	  </div>
	</div>
</div>

<script type="text/javascript">
	var carousels = document.getElementsByClassName("carousel-inner");
	i = 0;
	while (i < carousels.length) {
		carousels[i].firstElementChild.className = "item active";
		i = i + 1;
	}
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</body>
</html>